@mixin ボタン($hover:true,$color:white,$alpha:0.8)
  text-decoration: none
  transition: 0.3s ease-in
  background: rgba(invert($color),$alpha)
  color: $color
  border-bottom: 0.3vmin solid $color
  @if $hover
    &:hover
      background: rgba($color,$alpha)
      color: invert($color)
      transition: 0.3s ease-out

@mixin flex_center($height:10vmax)
  padding: 0
  margin: 0
  display: flex
  height: $height

@mixin グラデーション($color_1:white,$color_2:#00bbff)
  background: radial-gradient($color_1,$color_2)

@media screen and (orientation: landscape )
  html
    scroll-padding-top: 10vmax
  .背景
    height: 100vh
    width: 100%
  body
    margin: 0
    padding: 0
    font-family: "HGS明朝E"
    display: flex
    flex-direction: column
    align-items: center
    #背景
      z-index: -100
      @include グラデーション()
    .背景
      position: fixed
  header
    width: 100%
    a,ul,li
      z-index: 1
      @include flex_center()
    a
      justify-content: center
      @include ボタン()
    div
      margin: auto 1vmin
      font-size: 6vmin
      &:nth-child(1),
      &:nth-child(3)
        width: 5vmin
        height: 5vmin
        background: url("../images/球体.png")
        background-size: contain

  nav
    width: 100%
    position: sticky
    top: 0
    font-size: 6vmin
    @include flex_center(10vh)
    a
      justify-content: center
      align-items: center
      display: flex
      width: 100%
      @include ボタン()
      &.選択中
        font-size: 12vmin
        @include ボタン(false,black)
    // 更新状態のテーブルタグ
  main
    // background: black
    width: 95%
    margin: 2vw 0
    #welcome
      text-align: center
      margin: 1vh
    .ページ
      height: 0
      width: 100%
      opacity: 0
      overflow: hidden
      &.現在表示中
        display: block
        height: auto
        transition: opacity 0.7s
        opacity: 1
    // それぞれのページに対するスタイル
    #ホーム
      table
        width: 100%
        font-family: ""
        border-collapse: collapse
        caption
          @include ボタン(true,black,0.4)
        tr
          // thの役割
          th,td
            text-align: center
            border: 0.5px black solid
          th
            @include ボタン(true,white,0.4)
          td
            @include ボタン(true,black,0.4)
            &:last-child
            // &:nth-child(3)
              text-align: left
            
    #Twitter
      h2
        text-align: center
      div
        margin: auto
        width: 90%
        max-width: 100vh
        // overflow-y: scroll
        // height: 70vh

  footer
    background: linear-gradient(#00bbff,white,#00bbff)
    display: flex
    height: 5vh
    width: 100%
    bottom: 0
    position: fixed
    p
      width: 100%
      justify-content: center
      display: flex
      margin: auto
