@charset "UTF-8";
html {
  overflow: hidden;
}

html ::-webkit-scrollbar {
  width: 2vw;
  max-width: 5px;
}

html ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 255, 0.2);
  border-radius: 10px;
}

html ::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 255, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 255, 0.2);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: radial-gradient(white, #00bbff);
  background-attachment: fixed;
}

header ul {
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.2vw solid white;
}

header #Title {
  display: block;
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

header #Title:hover {
  color: black;
  background: rgba(255, 255, 255, 0.2);
}

header #Title_name div {
  font-size: 4vw;
  margin: 1vh 0.5vw;
}

header .Title_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .Title_img div {
  margin: auto;
  height: 5.1vw;
  width: 5.1vw;
  background: url("../images/球体.png");
  background-size: cover;
}

header nav li {
  width: 20vw;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav li + li {
  border-left: 0.2vw solid white;
}

header nav li a {
  font-size: 3vw;
  margin: auto;
}

main {
  width: 95vw;
  height: 80vh;
  margin: 2vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

main #welcome {
  text-align: center;
  font-size: 5vw;
}

footer p {
  width: 100vw;
  margin: 0;
  bottom: 0;
  text-align: center;
  background: radial-gradient(circle, white, #00bbff);
}

.タブ {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.タブ:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.タブ.選択中 {
  background: rgba(255, 255, 255, 0.2);
  color: black;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.ページ {
  display: none;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.ページ.現在表示中 {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ホーム {
  width: 100%;
}

#ホーム table {
  border-collapse: collapse;
}

#ホーム table * {
  border: 0.5px black solid;
}

#ホーム table caption {
  background: rgba(255, 255, 255, 0.4);
}

#ホーム table th {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

#ホーム table td {
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
}

#Twitter h2 {
  text-align: center;
}

#Twitter div {
  width: 90vw;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */