@charset "UTF-8";
@font-face {
  font-family: "HG 教科書体";
  src: url("../font/win10/HGRKK.TTC");
}

@font-face {
  font-family: "HG 明朝E";
  src: url("../font/win10/HGRME.TTC");
}

html {
  overflow-x: hidden;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html * h1 {
  font-size: 7vmin;
}

html * h2 {
  font-size: 6.5vmin;
}

html * h3 {
  font-size: 5.5vmin;
}

html * p {
  font-size: 5vmin;
}

html * small {
  font-size: 3vmin;
  font-family: "HG 明朝E";
  font-weight: normal;
}

html body {
  min-height: 100vh;
  background: linear-gradient(90deg, #00aaff, #fff, #00aaff);
  font-family: 'HG 教科書体';
  font-weight: bold;
}

html body header > a {
  height: 10vh;
  border-bottom: solid 1px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

html body header > a div {
  height: 7vmin;
  width: 7vmin;
  margin: 1vmin;
  background: url(../images/球体.png);
  background-size: contain;
  background-repeat: no-repeat;
}

html body header > a h1 {
  font-family: 'HG 明朝E';
  font-weight: normal;
  transition: ease 0.7s;
  font-size: 8vmin;
}

html body nav {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body nav a {
  cursor: pointer;
  font-size: 6vmin;
  height: 10vh;
  transition: ease 0.7s;
  flex: 2;
  border-bottom: solid 1px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

html body nav a.選択中 {
  color: #000;
  background: rgba(255, 255, 255, 0.9);
  transition: ease 0.7s;
  font-size: 10vmin;
  flex: 3;
  border-bottom: solid 1px;
}

html body main #welcome {
  text-align: center;
  margin: 2.5vh;
  font-size: 5.5vmin;
}

html body main .ページ {
  height: 0;
  margin: 0 5vmin;
  opacity: 0;
  overflow: hidden;
}

html body main .ページ.現在表示中 {
  display: block;
  height: auto;
  transition: ease opacity 0.8s 0.2s;
  opacity: 1;
}

html body main .ページ.現在表示中 h1 {
  height: 8vh;
  outline: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body main .ページ.現在表示中 p {
  padding: 1vh;
  color: #000;
  background: rgba(255, 255, 255, 0.2);
}

html body main .ページ.現在表示中 h1, html body main .ページ.現在表示中 h2, html body main .ページ.現在表示中 h3 {
  margin: 1vh 0;
  padding: 1vh;
  color: #000;
  background: rgba(255, 255, 255, 0.2);
}

html body main .ページ.現在表示中 h2, html body main .ページ.現在表示中 h3 {
  border-bottom: solid 1px;
  display: inline-block;
}

html body main .ページ.現在表示中 > div {
  margin: 3vh 0;
}

html body main #ホーム p {
  border: solid 1px #fff;
}

html body main #ホーム h2 {
  border: solid 1px #fff;
  border-bottom: none;
  margin: 0;
}

html body main #ホーム > table {
  border-collapse: collapse;
  width: 100%;
}

html body main #ホーム > table caption {
  display: none;
}

html body main #ホーム > table tr {
  border-right: solid 1px;
  border-left: solid 1px;
  display: flex;
  flex-wrap: wrap;
}

html body main #ホーム > table tr:first-child {
  display: none;
}

html body main #ホーム > table tr th, html body main #ホーム > table tr td {
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body main #ホーム > table tr th {
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  border-top: solid #000 1px;
  border-bottom: solid #000 1px;
  font-size: 6vmin;
  width: 100%;
}

html body main #ホーム > table tr .更新項目 {
  font-size: 4vmin;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  flex: 2;
}

html body main #ホーム > table tr .更新内容 {
  font-size: 4vmin;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  flex: 8;
  justify-content: left;
}

html body main #ホーム > table tr:last-child {
  border-bottom: solid 1px;
}

html body footer {
  background: linear-gradient(#00bbff, white, #00bbff);
  height: 0;
  width: 100%;
  padding: 2.5vh 0;
  margin-top: 2.5vh;
  margin-top: 5vh;
  position: fixed;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
