@charset "UTF-8";
@media screen and (orientation: portrait) {
  html {
    overflow-x: hidden;
    scroll-padding-top: 8vh;
    scroll-behavior: smooth;
  }
  html ::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
  html * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  body {
    background: -webkit-gradient(linear, left top, right top, from(#00aaff), color-stop(#fff), to(#00aaff));
    background: linear-gradient(90deg, #00aaff, #fff, #00aaff);
  }
  header > a {
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: solid 1px;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
  }
  header > a div:nth-child(2) {
    font-size: 6vw;
    margin: 0 2vw;
  }
  header > a div:nth-child(1), header > a div:nth-child(3) {
    height: 8vw;
    width: 8vw;
    background: url(../images/球体.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  nav {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav a {
    font-size: 6vw;
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: ease 0.7s;
    transition: ease 0.7s;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
  }
  nav a.選択中 {
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    font-size: 10vw;
    -webkit-transition: ease 0.7s;
    transition: ease 0.7s;
  }
  main #welcome {
    text-align: center;
    margin-top: 2.5vh;
  }
  main .ページ {
    height: 0;
    margin: 0 5vw;
    opacity: 0;
    overflow: hidden;
  }
  main .ページ.現在表示中 {
    display: block;
    height: auto;
    -webkit-transition: ease opacity 0.8s 0.2s;
    transition: ease opacity 0.8s 0.2s;
    opacity: 1;
  }
  main .ページ > h1 {
    height: 8vh;
    outline: solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .ページ > p {
    padding: 1vh;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
  }
  main .ページ > h1, main .ページ > h2, main .ページ > h3 {
    margin: 2.5vh 0vh 1vh 0;
    padding: 1vh;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
  }
  main .ページ > h2, main .ページ > h3 {
    border-bottom: solid 1px;
    display: inline-block;
  }
  main #ホーム > h2 {
    margin-bottom: 0;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: none;
  }
  main #ホーム > p {
    border: solid 1px #fff;
  }
  main #ホーム > table {
    border-collapse: collapse;
    width: 100%;
  }
  main #ホーム > table caption {
    display: none;
  }
  main #ホーム > table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main #ホーム > table tr:first-child {
    display: none;
  }
  main #ホーム > table tr th, main #ホーム > table tr td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #ホーム > table tr th {
    width: 100%;
    font-size: 10vw;
    padding: 1vh;
    border-top: solid #fff 1px;
    border-bottom: solid #000 1px;
    color: #000;
    background: rgba(255, 255, 255, 0.6);
  }
  main #ホーム > table tr td {
    font-size: 5vw;
    padding: 1vh 2%;
    text-align: left;
  }
  main #ホーム > table tr .更新項目 {
    width: 100%;
    color: #000;
    background: rgba(255, 255, 255, 0.6);
  }
  main #ホーム > table tr .更新内容 {
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }
  footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#00bbff), color-stop(white), to(#00bbff));
    background: linear-gradient(#00bbff, white, #00bbff);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
    width: 100%;
    padding: 2.5vh 0;
    margin-top: 2.5vh;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}
/*# sourceMappingURL=test.css.map */