<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="google-site-verification" content="baCbnYsLuIFhP8Gnd7Rx_jy1gc4gB_jvis_aiE_MZP8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style.sass"> -->
  <link rel="stylesheet" href="css/test.css">
  <link rel="stylesheet" href="css/test.sass">
  <title>たいきのほーむぺーじ</title>
  <meta name="keywords" content="たいき,ほーむぺーじ,ホームページ,消滅都市,ほぉむぺぇじ">
  <meta name="description"
    content="初めてのたいきのホームページです。前々から作りたいと思っていました。HTML5&CSS3の復習も兼ねています。特に書くことが決まっていません。何を書けばいいんだろう。意見あったら教えてください。">
</head>

<body>
  <!-- <div class="背景" id="背景"></div> -->
  <!-- <div class="背景"></div> -->
  <header>
    <a href="index.html">
      <div></div>
      <h1>たいきのほ～むぺ～じ</h1>
      <div></div>
    </a>
  </header>

  <nav id="nav">
    <a v-for="menu in menus" :class="{選択中: now_tab === menu}" @click=switch_tab(menu) :href="'#' + menu">{{menu}}</a>
  </nav>
  <v-touch @swiperight="onSwipeRight" @swipeleft="onSwipeLeft">
    <main id="main">
      <div id="welcome">{{visited_cnt}}回目の訪問ありがとう☆</div>
      <div class="ページ" :class="{現在表示中: now_tab === 'ホーム'}" id="ホーム">
        <h1>{{now_tab}}</h1>
        <div>
          <h2>たいきのホームページ</h2>
          <p>
            初めてのたいきのホームページです。<br>
            前々から作りたいと思っていました。<br>
            HTML5&CSS3の復習も兼ねています。<br>
            特に書くことが決まっていません。<br>
            何を書けばいいんだろう。<br>
            意見あったら教えてください。<br>
          </p>
        </div>
        <h3>とりまテーブルタグを置いてみた</h3>
        <table>
          <caption></caption>
          <tbody>
            <!-- １つ目は非表示になるstyle -->
            <tr></tr>
            <tr v-for="(i,value) in values">
              <!-- 最初の日付と値がひとつ前と同じでないとき実行 -->
              <th scope="col" v-if="i == 0 || value.日付 != values[i-1].日付">
                {{value.日付}}
              </th>
              <td class="更新項目">
                {{value.更新項目}}
              </td>
              <td class="更新内容">
                {{value.更新内容}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="ページ" id="学校">
      <h1>学校</h1>
      <h2>次期にクラスメイトのみが閲覧可能なタブにする予定です。</h2>
    </div> -->
      <!-- <div class="ページ" id="趣味">
      <h1>趣味</h1>
      <h2>ゲーム</h2>
      <h3>消滅都市</h3>
      <div id="消滅都市">
      </div>
    </div> -->
      <!-- <div class="ページ" id="意見">
      <h1>意見</h1>
      <p>俺に対する意見をバンバン書いてもらおうとしてる所です。</p>
      <p>いずれフォームを置こうと考えています。</p>
    </div> -->
      <div class="ページ" :class="{現在表示中: now_tab === 'Twitter'}" id="Twitter">
        <h1>{{now_tab}}</h1>
        <div>
          <h2>俺のタイムライン</h2>
          <a class="twitter-timeline" data-lang="ja" width="100%" data-theme="dark"
            href="https://twitter.com/taiki_global?ref_src=twsrc%5Etfw">Tweets by taiki_global</a>
          <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
          <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <!-- <div class="ページ" id="テスト">
      <h1>テスト</h1>
      <h2>タブの数を簡単に増やせるかどうかのテストをしただけです。</h2>
    </div> -->
    </main>

    <footer>
      <small>presented by Taiki&copy;</small>
    </footer>

    <script src="js/vue/vue.js"></script>
    <script src="js/vue/vue-cookies.js"></script>
    <script src="js/vue/vue-touch.min.js"></script>
    <script src="js/axios/axios.min.js"></script>
    <script src="js/main.js"></script>
  </v-touch>
</body>

</html>