#main
  flex(space-evenly)
  flex-direction column
  height 80vh
  @media screen and (orientation portrait)
    height 60vh
#main>div
  width 80%
  table
    width 100%
input
  width 40%
th, td, input
  text-align center
@media screen and (orientation portrait)
  table, tr, th, td
    display flex
    flex-direction column
  th, td, input
    flex()